
.page-header
{
margin:0px 0px 0px 0px; !important

}
.header{
	width:100%;
	height:7.5%;
	background-color:ActiveBorder;
	display:inline-block;
	margin:0 !important ;
	padding:0 !important ;
	background-color:#0094ff;
	position  :relative;
}
 .logocontainer
{
	
	width:40%;
	height:100%;
	display:inline;
	 float:left;
	 background-color:#0094ff;
}
.logocontainer>.logo{
	  /*background-image: url("../app/assets/img/cmp_logo.png");*/
		background-size: contain;
		background-repeat: no-repeat;
		width:50%;
		height:100%;
		background-color:#0094ff !important;
}

.logo > img{
	 opacity: 0.6;
    filter: alpha(opacity=80);
    height:100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);

}

 .userinfo
{
	top:9%;
	width:20%;
	height:100%;
	float:right;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}