.extra-bottom-padding {
	margin-top:20px;
}
.searcharea{
	display: table;
    margin: 0 auto;
		width:70%;
}

.searcharea> button{
	position:absolute;
}
.search-text-box{
	display:inline;	
	width:60%
}