<div>


	<div class="container-fluid">
		<div class="row extra-bottom-padding ">

		</div>

		<div class="row">
			

		</div>
		<div class="row">
			<div class="col-sm-2">
                <!--<servicesearch></servicesearch>-->
			</div>
			<div class="col-sm-8">
                <div class="postserrvcieinfo" *ngIf="isServiceInfo">
                    <serviceinfo></serviceinfo>
                </div>
                <div class="postaddress" *ngIf="isAddress">
                    <address ></address>
                </div>

                <button type="submit" (click)="handleClick($event)" class="btn btn-default">NEXT</button>
			</div>
			<div class="col-sm-2">


			</div>
		</div>
	</div>


	


</div>