<div>


	<div class="container-fluid">
		<div class="row extra-bottom-padding ">

		</div>

		<div class="row">
			

		</div>
		<div class="row">
			<div class="col-sm-2">
                <!--<servicesearch></servicesearch>-->
			</div>
			<div class="col-sm-8">
				<div class="postserrvcieinfo" *ngIf="curretRoute.current == 'serviceinfo'">
					<serviceinfo [(serviceinfo)]="serviceObject"></serviceinfo>
				</div>
				<div class="postaddress" *ngIf="curretRoute.current == 'address'">
					<address [(serviceinfo)]="serviceObject"></address>
				</div>

				<button type="submit" *ngIf="curretRoute.previous != ''" (click)="handlePrevious($event)" class="btn btn-default">PREVIOUS</button>
        <button type="submit" (click)="handleNext($event)" class="btn btn-default">NEXT</button>
			</div>
			<div class="col-sm-2">


			</div>
		</div>
	</div>


	


</div>