.search-text-box {
}

.viewtype {
	display: inline-block;
	width: 10%;
}

	.viewtype img {
		width: 25%;
		height: 4%;
	}

.autoButton {
	display: inline-block;
}

.searchplace {
	display: inline-block;
	width: 35%;
}
.serviceinfolabel{

	font-size:100%;
}
