<div class="container-fluid">
	<div class="row extra-bottom-padding ">

	</div>

	<!--<div class="row">


	</div>-->
	<div class="row">
		<div class="col-sm-2">

			<div>
				<form>
					<br/><br />
                    <div class="checkbox">
                        <label><input type="checkbox" [(ngModel)]="allupcomming" (ngModelChange)="onallupcomming($event)" name="isneedall">view all upcomming</label>
                    </div>


					<div class="form-group">
						
						<label for="category">Service Need On:</label>
						<datetime [(ngModel)]="servicessearch.needon" (ngModelChange)="applyDateFilter($event)" [datepicker]="datepickerneedonOpts" [timepicker]="false" name="needon" ></datetime>


					</div>
					<div class="checkbox">
						<label><input type="checkbox" [(ngModel)]="isneedtill"  name="isneedtill">view services till future date</label>
					</div>
					<div class="form-group" *ngIf="isneedtill">
						<label for="category">Service Needs Till:</label>
						<datetime [(ngModel)]="servicessearch.needtill" (ngModelChange)="applyDateFilter($event)" [datepicker]="true" [timepicker]="false" name="needtill"></datetime>
					</div>
					<div class="form-group">
					
						<label for="category">Services Booked On:</label>
						<datetime [(ngModel)]="servicessearch.bookedon" (ngModelChange)="applyDateFilter($event)" [datepicker]="datepickerbookedonOpts" [timepicker]="false" name="bookedon"></datetime>


					</div>

					
					<button type="submit" class="btn btn-default">Submit</button>
				</form>


			</div>
		</div>
      
		  <div class="col-sm-8">
            <br />
            <div>
                <form>
                    <div class="right-inner-addon">
                        <!--<i class="icon-search"></i>-->
                        <div class="findworkheader">
                            Service:  <input ng2-auto-complete
                                             class="form-control search-text-box"
                                             ([ngModel])="searchString"
                                             (valueChanged)="serviceSelected($event)"
                                             [source]="avilableServices"
                                             display-property-name="NAME"
                                             display-property-value="ID"
                                             name="search box"
                                             min-chars="2"
                                             placeholder="Choose Service you want to provide" />

                            Location:	<input id="address" type="text" class="form-control searchplace" [(ngModel)]="userAddress" name="user Address" placeholder="Search By Locality" />



                            <div class="autoButton">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </div>

													<div class="viewtype">

														<img src="../../../app/assets/img/list_view.gif" title="Available Services in List View" (click)="listview=1"/>
														<img src="../../../app/assets/img/map_view1.png" title="Available Services in Map View" (click)="listview=0" />
													</div>
                        </div>

											
                    </div>



                </form>

            </div>
            <div>
							<div *ngIf="listview"> <listviewwork></listviewwork>  </div>  
							<div *ngIf="!listview">  <mapviewwork [servicessearch]="servicessearch" (onServiceSelected)="onServiceSelected($event)"></mapviewwork> </div>
            </div>
           

		</div>
		
		<div class="col-sm-2">

			<div *ngIf="selectedService && !listview">

				<div class="right-inner-addon">

				</div>
				<br/>
				<div class="form-group">
					<label class="label label-info serviceinfolabel">
						Selected Service Information

					</label>
					</div>

					<div class="form-group">
						<label for="title">Title:</label><br/>
				  	<a> <span> {{selectedService.SERVICETITLE}} </span> </a>	
					</div>

				<div class="form-group">
					<label>Description</label><br />
					<span> {{selectedService.SERVICEDESCRIPTION}} </span>
				</div>

				<div class="form-group">
					<label>Service Needed On</label><br />
					<span> {{selectedService.SERVICESTARTDATE | date:'yMMMd'}} </span>  <span> <b>  TIME:</b> {{selectedService.SERVICESTARTTIME.split(':')[0]}} : {{selectedService.SERVICESTARTTIME.split(':')[1]}} </span>
				
				</div>
				<div class="form-group">
					<label>Service Address</label><br />
					<span> {{selectedService.SERVICELOCATIONADDRESS}} </span>

				</div>

                <div class="form-group">
                    <label>User Information</label><br />
                   NAME:  <span> {{selectedService.NAME}} </span> <br/>
                   PHONE: <span> {{selectedService.PHONE}} </span> <br />
                </div>

				</div>



		</div>
	</div>



</div>



