<div class="container-fluid">
	<div class="row extra-bottom-padding ">

	</div>

	<!--<div class="row">


	</div>-->
	<div class="row">
		<div class="col-sm-2">

		</div>
        <div class="col-sm-8">
            <br />
            <div>
                <form>
                    <div class="right-inner-addon">
                        <!--<i class="icon-search"></i>-->
                        <div class="findworkheader">
                            Service:  <input ng2-auto-complete
                                             class="form-control search-text-box"
                                             ([ngModel])="searchString"
                                             (valueChanged)="serviceSelected($event)"
                                             [source]="avilableServices"
                                             display-property-name="NAME"
                                             display-property-value="ID"
                                             name="search box"
                                             min-chars="2"
                                             placeholder="Choose Service you want to provide" />

                            Location:	<input id="address" type="text" class="form-control searchplace" [(ngModel)]="userAddress" name="user Address" placeholder="Search By Locality" />



                            <div class="autoButton">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </div>

													<div class="viewtype">

														<img src="../../../app/assets/img/list_view.gif" title="Available Services in List View" (click)="listview=1"/>
														<img src="../../../app/assets/img/map_view1.png" title="Available Services in Map View" (click)="listview=0" />
													</div>
                        </div>

											
                    </div>



                </form>

            </div>
            <div>
							<div *ngIf="listview"> <listviewwork></listviewwork>  </div>  
							<div *ngIf="!listview">  <mapviewwork [servicessearch]="servicessearch" (onServiceSelected)="onServiceSelected($event)"></mapviewwork> </div>
            </div>
           

		</div>
		
		<div class="col-sm-2">

			<div *ngIf="selectedService">
				<h3> Selected Service Info</h3>

				<span>Service Title</span>  {{selectedService.SERVICETITLE}}

				<span>Service Description</span>  {{selectedService.SERVICEDESCRIPTION}}

			</div>

		</div>
	</div>
</div>



