<div class="servicebasicInfo">
    <form>
       
        <div class="loggedInUser">


            Dear <label for="username">User Name:</label>

            <div *ngIf="isMobileVerified">
                <h4>Please Confirm Your details before place your request.</h4>


            </div>

            <div *ngIf="!isMobileVerified">
                <h4> myserviceneed requesting  your mobile number for verification</h4>
                <div class="form-group">
                    <div class="sendOTP">


                        <label for="description">Mobile Number:</label>
                        <input type="text" class="form-control verifytxtbox" [(ngModel)]="serviceinfo.mobile" name="mobile" />

                        <input *ngIf="!isOTPVerifyDone" type="button" value="SEND OTP" class="btn btn-default inlinetxtbox" (click)="sendOTPClicked()" />

                    </div>

                    <br />

                    <div class="verifyOTP" *ngIf="isOTPVerifyPhase">
                        <label for="verifyOTP">Please Enter OTP you received on registered mobile:</label>
                        <div>
                            <input type="text" class="form-control verifytxtbox inlinetxtbox" /> <input type="button" value="VERIFY OTP" (click)="afterVerifyOTPClick()" class="btn btn-default inlinetxtbox " />
                            <p>NOTE: If you not receive OTP please click SEND OTP button again.</p>
                        </div>


                    </div>

                </div>

            </div>
           

        </div>

    <h4>OR</h4>

			<div class="notLoggedInUser">
				<h4> Since you are not a logged in user , myserviceneed requesting  you to login</h4>
		
                <a (click)="loginOrSignupclick()"><i class="fa fa-twitter"></i> Login/Register </a>

			</div>

    </form>

</div>



	<modallogin #modallogin>  </modallogin>

