<div class="servicebasicInfo">
    <form>
        <div class="right-inner-addon">

        </div>


        <div calss="facebooklogin">
            <facebook-login></facebook-login>

        </div>
    <h4>OR</h4>

			<div class="notLoggedInUser">
				<h4> Since you are not a logged in user , myserviceneed requesting  your mobile number for verification</h4>
			<div class="form-group">
				<div class="sendOTP">
					<label for="username">User Name:</label>
					<input type="text" class="form-control verifytxtbox" [(ngModel)]="serviceinfo.username" name="username" />
					<br />

					<label for="description">Mobile Number:</label>
					<input type="text" class="form-control verifytxtbox" [(ngModel)]="serviceinfo.mobile" name="mobile" />

					<input *ngIf="!isOTPVerifyDone" type="button" value="SEND OTP" class="btn btn-default inlinetxtbox" (click)="sendOTPClicked()" />

				</div>
				
				<br />

				<div class="verifyOTP" *ngIf="isOTPVerifyPhase">
					<label for="verifyOTP">Please Enter OTP you received on registered mobile:</label>
					<div>
						<input type="text" class="form-control verifytxtbox inlinetxtbox" /> <input type="button" value="VERIFY OTP" (click)="afterVerifyOTPClick()" class="btn btn-default inlinetxtbox " /> 
						<p>NOTE: If you not receive OTP please click SEND OTP button again.</p>
					</div>
					

				</div>
			
			</div>

			</div>

    </form>

</div>