<div class="servicebasicInfo">
    <form>
        <div class="right-inner-addon">

        </div>

        <div class="form-group">
            <label for="title">Service Title:</label>
					<input type="text" class="form-control" [(ngModel)]="serviceinfo.title" (ngModelChange)="titleChange($event)" name="title">
        </div>
        <div class="form-group">
            <label for="description">Service Description:</label>
					<textarea class="form-control" rows="9" [(ngModel)]="serviceinfo.description" (ngModelChange)="descriptionChange($event)" name="descrption"></textarea>
        </div>

			<div class="form-group">
				<label for="description">If you have any images related to your service need please upload here:</label>
			<input type="file" ng2FileSelect [uploader]="uploader"  multiple="multiple"/>
			</div>
        <div class="displayUploadImages">
           


					<!--<cl-image *ngFor="let img of uploadedimages" public-id="{{img}}" [options]="cloudinaryOptions"></cl-image>-->



					<div class="container" >
						<div class="galleryItem" *ngFor="let img of uploadedimages" >
							<cl-image  public-id="{{img}}" [options]="cloudinaryOptions"></cl-image>
						</div>

				
					</div>

        </div>
       
    </form>

</div>