body {
			margin: 0 !important;
			padding: 0 !important;
		}

		.ng2-auto-complete {
			display: inline-block;
			width: 60%;
		}

		.findworkheader > .ng2-auto-complete {
			display: inline-block;
			width: 30%;
		}

		ng2-auto-complete, input {
			display: block;
		}

		.galleryItem > cl-image img {
			width: 100% !important;
		}
        .eachService > cl-image img {
			width: 100% !important;
		}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}



/*login */
.login-modal{
	
	top:15%;
	width:25%;
	height:35%;

}
.form-body{
    background:#fff;
    padding:0px 10px 10px 0px;
}
.form-body p{
   font-size:12px;
	 color: #333;
   line-height: 17px;
}
.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}
.innter-form{
	padding-top:5px;
}
.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
	color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:20px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:50%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
	
	.sa-innate-form button{
	border:1px solid#0094ff;
	background:#0094ff;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	width:100%;
	}
	.sa-innate-form button:hover{
	border:1px solid#0094ff;
	background:#0094ff;
	color:#fff;
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }