.searcharea{
	
    margin: 0 auto;
		width:90%;
}

.extra-bottom-padding {
	margin-top:20px;
}


/*.searcharea> button{
	position:absolute;
}*/
.autoButton
{

    display:inline-block;
}
.search-text-box{
	/*display:inline;*/	
	width:100% !important;
}
.sebm-google-map-container {
  height: 40%;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    
}

.eachService img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.eachService {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;    
     cursor: pointer; 
     /*cursor: hand;*/ 
    width: 23%;
    margin:  2% 2% 50px 2%; 
}

 .tab { padding-left: 50%; }