<div class="container-fluid">
    <div class="row extra-bottom-padding ">

    </div>

    <div class="row">


    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8">
            <form>
                <div class="right-inner-addon">
                    <!--<i class="icon-search"></i>-->
                    <div class="searcharea">
                        <input ng2-auto-complete
                               class="form-control search-text-box"
                            ([ngModel])="searchString"
                             (valueChanged)="serviceSelected($event)"
                               [source]="avilableServices"
                               display-property-name="NAME"
                                display-property-value="ID"
                               name="search box"
                                min-chars="2"
                               placeholder="Choose Your Needed Service" />


                        <div class="autoButton">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>
                    </div>
                </div>

            </form>


          
        </div>

        <div class="col-sm-2">


        </div>
    </div>

    <div class="row" *ngFor="let category of categories;let j = index;let l = last"   >
      
       

        
        <div class="col-sm-6" *ngIf="categories.length!=j+1">
            <h4>{{category.NAME}}</h4>
            <div class="container">
                <div class="galleryItem" *ngFor="let service of category.PseudoSERVICESUBCATEGORies;let i = index" >
                  
                    <span class="eachService" *ngIf="i<=3">
                        <cl-image public-id="{{service.IMAGEPUBLICKEY}}" [options]="cloudinaryOptions"></cl-image>
                    </span>
                  
                  
                </div>

            </div>

        </div>

        <div class="col-sm-6" *ngIf="categories[j+1]" >
            <h4>{{categories[j+1].NAME}}</h4>
            <div class="container">
                <div class="galleryItem" *ngFor="let service of categories[j+1].PseudoSERVICESUBCATEGORies;let i = index">

                    <span class="eachService" *ngIf="i<=3">
                        <cl-image public-id="{{service.IMAGEPUBLICKEY}}" [options]="cloudinaryOptions"></cl-image>
                    </span>


                </div>

            </div>

        </div>



        </div> 
</div>



